//Importing index scss files from index.scss
@font-face {
  font-family: "avenirNextRegular";
  src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('opentype'),
      //url('../Fonts/Alternative\ files/AvenirNextLTPro-Regular.ttf') format('truetype'),
      url('https://fonts.google.com/specimen/Roboto');
}
@font-face {
  font-family: "avenirNextDemiBold";
  src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf') format('opentype'),
      //url('../Fonts/Alternative\ files/avenirNextDemiBold.ttf') format('truetype'),
      url('https://fonts.google.com/specimen/Roboto');
}
@font-face {
  font-family: "avenirNextBold";
  src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf') format('opentype'),
      //url('../Fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf') format('truetype'),
      url('https://fonts.google.com/specimen/Roboto');
}

.body {
  font-family: "avenirNextRegular";
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
