@font-face {
    font-family: "avenirNextRegular";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('opentype'),
        //url('../Fonts/Alternative\ files/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('https://fonts.google.com/specimen/Roboto');
}
@font-face {
    font-family: "avenirNextDemiBold";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf') format('opentype'),
        //url('../Fonts/Alternative\ files/avenirNextDemiBold.ttf') format('truetype'),
        url('https://fonts.google.com/specimen/Roboto');
}
@font-face {
    font-family: "avenirNextBold";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf') format('opentype'),
        //url('../Fonts/Alternative\ files/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('https://fonts.google.com/specimen/Roboto');
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .header__brainflix-logo {
    width: 100%;
  }
  .header__search-upload-user {
    ul {
      list-style: none;
      text-decoration: none;
      li {
        display: inline;
      }
    }
  }
}
